
@{
    ViewData["Title"] = "Dashboard";
}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">        
    <link rel="stylesheet" href="~/css/styles.min.css" />
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <div class="container-fluid">
                <!--  Row 1 -->
                <div class="row">
                    <div class="col-lg-8 d-flex align-items-strech">
                        <div class="card w-100">
                            <div class="card-body">
                                <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                                    <div class="mb-3 mb-sm-0">
                                        <h5 class="card-title fw-semibold">Overview</h5>
                                    </div>                                    
                                </div>
                                <div id="chart"></div>
                            </div>
                        </div>
                    </div>
                   
                </div>
        </div>
    </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>    
    <script src="~/lib/apexcharts/dist/apexcharts.min.js"></script>    
    <script>
        $(function () {
            let maior = Math.max(@ViewBag.TotalClientes, @ViewBag.TotalProdutos, @ViewBag.TotalVendas) + 3;

            var chart = {
                series: [
                    {
                        name: "Clientes:",
                        data: [
                            @ViewBag.TotalClientes,
                            @ViewBag.TotalProdutos,
                            @ViewBag.TotalVendas
                        ]
                    },
                ],

                chart: {
                    type: "area",
                },

                xaxis: {
                    type: "category",
                    categories: ["Clientes", "Produtos", "Vendas"],
                },

                yaxis: {
                    show: true,
                    min: 0,
                    max: maior,                    
                }
            };
            var chart = new ApexCharts(document.querySelector("#chart"), chart);
            chart.render();
        })
    </script>
</body>

</html>